.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: end;
}
.query, .estimate-form {
  background: #f7fcff;
  font-size: 0.9rem;
  border: 1px solid #ccc
}
.Label {
    text-align: end;
    width: 20% !important;
    font-weight: 500;
}
.categoryOption {
  background: #E2EAEF;
}
