


<footer class="entire_footer">
  <!-- FOOTER-TOP-AREA -->
  <div class="footer_top_area p-2 m-2">
    <div class="container">
      <div class="row">
     <hr/>
        <div class="col-sm-4 col-sm-4 col-xs-12">
          <div class="footer_top_single">
            <i class="fa fa-plane"></i>
            <h4>Free Shipping on order over $1000</h4>
            <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
          </div>
        </div>
        <div class="col-sm-4 col-sm-4 col-xs-12">
          <div class="footer_top_single">
            <i class="fa fa-gift"></i>
            <h4>unlimited gifts on every order</h4>
            <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
          </div>
        </div>
        <div class="col-sm-4 col-sm-4 col-xs-12">
          <div class="footer_top_single">
            <i class="fa fa-exchange"></i>
            <h4>100% money back guarantee</h4>
            <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER-TOP-AREA:END -->
  
  <!-- FOOTER-WIDGET-AREA -->
  <div class="footer-widget">
    <div class="ovelay">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-4 col-xs-12">
            <div class="widget_logo">
                <a href="/home/dashboard">
                <img _ngcontent-suq-c143="" src="/assets/nls-vector-logo_1583309893__29535.webp" width="180px">
                </a>
              <ul>
                <li>
                  <div class="wl_left">
                    <i class="fa fa-location-arrow"></i>
                  </div>
                  <div class="wl_right">
                    <a href="#"><span>Address :</span> 
                      NLS Vector Biofeedback
                      1-800-590-1872
                      2912 Colorado Blvd. Los Angeles, CA 90027 United States of America</a>
                  </div>
                </li>
              
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-sm-3 col-xs-12">
            <div class="widget_single">
              <h4><a href="#">Contact Us</a></h4>
              <ul>
                <li>
                    <a href="#"><span>E-mail :</span> contact@nlshelp.com
                     </a>
                </li>
                <li>
                    <a href="#"><span>phone :</span>1-800-590-1872</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2 col-sm-2 col-xs-12">
            <div class="widget_single">
              <h4><a href="#">My Account</a></h4>
              <ul>
                <li><a href="profile.html">My Account</a>
                </li>
                <li><a href="wishlist.html">Wishlist</a>
                </li>
                <li><a href="cart-page.html">Shopping Cart</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2 col-sm-2 col-xs-12">
            <div class="widget_single">
              <h4><a href="#">Information</a></h4>
              <ul>
                <li><a href="#">About Our Shop</a>
                </li>
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Delivery Information</a>
                </li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER-WIDGET-AREA:END -->
  
  <!-- FOOTER-AREA -->
  <div class="bg-dark p-3 text-center text-white">
    <div class="container">
      NLS Technology | Global Leader in BioResonance © Copyright . All Rights Reserved | Designed by nlshelp
    </div>
  </div>
  <!-- FOOTER-AREA:END -->
</footer>